In [2]:
%pip install numpy
%pip install pandas
%pip install scipy
%pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from scipy) (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: statsmodels in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (0.14.1)
Requirement already satisfied: numpy<2,>=1.18 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from statsmodels) (1.12.0)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from statsmodels) (2.2.1)
Requirement already satisfied: patsy>=0.5.4 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2024.1)
Requirement already satisfied: six in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)

In [5]:
import numpy as np
import pandas as pd 
import scipy.stats as st
import math as m
import statsmodels.stats.api as sm
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('strokedata.csv')
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [7]:
df['age'] = df['age'].astype(int)
df.dtypes

id                     int64
gender                object
age                    int32
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [8]:
print(df.shape)
print(df.describe())

(5110, 12)
                 id          age  hypertension  heart_disease  \
count   5110.000000  5110.000000   5110.000000    5110.000000
mean   36517.829354    43.215264      0.097456       0.054012
std    21161.721625    22.633866      0.296607       0.226063
min       67.000000     0.000000      0.000000       0.000000
25%    17741.250000    25.000000      0.000000       0.000000
50%    36932.000000    45.000000      0.000000       0.000000
75%    54682.000000    61.000000      0.000000       0.000000
max    72940.000000    82.000000      1.000000       1.000000

       avg_glucose_level          bmi       stroke
count        5110.000000  4909.000000  5110.000000
mean          106.147677    28.893237     0.048728
std            45.283560     7.854067     0.215320
min            55.120000    10.300000     0.000000
25%            77.245000    23.500000     0.000000
50%            91.885000    28.100000     0.000000
75%           114.090000    33.100000     0.000000
max           271.740000    97.600000     1.000000

In [9]:
columns_with_null = df.columns[df.isnull().any()]
print(columns_with_null)

Index(['bmi'], dtype='object')

In [10]:
df['bmi'].fillna(df['bmi'].mean(), inplace=True)

In [11]:
#now there are no null values
columns_with_null = df.columns[df.isnull().any()]
print("Columns with null values:", columns_with_null)

Columns with null values: Index([], dtype='object')

In [12]:
w,p =st.shapiro(df['bmi'])
if p < 0.05:
    print("Normal Distribution")
else:
    print("Not A Normal Distribution")

Normal Distribution

In [19]:
from scipy import stats
se = stats.sem(df['avg_glucose_level'])
se_rounded = round(se, 2)

print(se_rounded)

Standard Error for avg_glucose_level: 0.63

In [20]:
filtered_data = df[(df['work_type'] == 'Private') & (df['Residence_type'] == 'Urban')]

average_age = filtered_data['age'].mean()

print(round(average_age, 2))

45.96

In [21]:
w, p = st.shapiro(df['age'])
if p < 0.05:
    print("Not A Normal Distribution")
else:
    print("Normal Distribution")

Not A Normal Distribution

In [25]:
confidence_level = 0.95
ci = st.norm.interval(confidence_level, loc=df['age'].mean(), scale=st.sem(df['age']))
lower_limit = round(ci[0], 2)
print(lower_limit)

42.59

In [37]:
urban_data = df[df['Residence_type'] == 'Urban']['avg_glucose_level']
rural_data = df[df['Residence_type'] == 'Rural']['avg_glucose_level']

stat, p_value = st.ttest_ind(urban_data, rural_data, equal_var=False)

# Provide the p-value rounded up to 2 decimal places
p_value_rounded = round(p_value, 2)

print(p_value_rounded)

0.72