In [2]:
import pandas as pd 
df = pd.read_csv('insurance (1).csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
mean_charges = df.groupby('children')['charges'].mean()

print(mean_charges)

children
0    12365.975602
1    12731.171832
2    15073.563734
3    15355.318367
4    13850.656311
5     8786.035247
Name: charges, dtype: float64

In [6]:
from scipy.stats import shapiro
import pandas as pd

#Shapiro-Wilk test
statistic, p_value = shapiro(df['age'])

alpha = 0.05

if p_value < alpha:
    print("The age distribution does not follow a normal distribution")
else:
    print("The age distribution follows a normal distribution")

The age distribution does not follow a normal distribution

In [ ]:
from scipy.stats import chi2_contingency
import pandas as pd

cross_tab = pd.crosstab(df['smoker'],df['gender'])

#chi-squared test
chi2_stat, p_val, dof, expected = chi2_contingency(cross_tab)

alpha = 0.05

if p_val < alpha:
    print("There is a significant relationship between smoker status and gender (reject null hypothesis)")
else:
    print("There is no significant relationship between smoker status and gender (fail to reject null hypothesis)")

In [ ]:
from scipy.stats import ttest_ind
import pandas as pd

charges_no_children = df[df['children'] == 0]['charges']
charges_more_than_two_children = df[df['children'] > 2]['charges']

#t-test
t_stat, p_val = ttest_ind(charges_no_children, charges_more_than_two_children)

alpha = 0.05

if p_val < alpha:
    print("There is a significant difference in charges based on the number of children (reject null hypothesis)")
else:
    print("There is no significant difference in charges based on the number of children (fail to reject null hypothesis)")

In [10]:
from scipy.stats import t
import pandas as pd

charges_non_smokers =df[df['smoker'] == 'no']['charges']

# Calculate the sample mean and standard error
sample_mean = charges_non_smokers.mean()
sample_std = charges_non_smokers.std()
sample_size = len(charges_non_smokers)
standard_error = sample_std / (sample_size ** 0.5)
confidence_level = 0.95

#the t-score for the confidence level and degrees of freedom
degrees_of_freedom = sample_size - 1
t_score = t.ppf((1 + confidence_level) / 2, df=degrees_of_freedom)

margin_of_error = t_score * standard_error

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print("Confidence Interval for Charges of Non-Smokers:")
print("Lower Bound:", lower_bound)
print("Upper Bound:", upper_bound)

Confidence Interval for Charges of Non-Smokers:
Lower Bound: 8073.712087634539
Upper Bound: 8794.82450807787

In [8]:
standard_error = df['charges'].sem()

print("Standard Error for Charges:", standard_error)

Standard Error for Charges: 331.0674543156824